services:
  dezhi-server:
    image: ${ALIYUN_REGISTRY}/${ALIYUN_NAMESPACE}/dezhi-server:${IMAGE_TAG:-latest}
    container_name: dezhi-server
    restart: always
    ports:
      - "12010:12010"
    environment:
      # Java Options
      JAVA_OPTS: ${JAVA_OPTS}
      # Postgres
      POSTGRESQL_HOST: ${POSTGRESQL_HOST}
      POSTGRESQL_PORT: ${POSTGRESQL_PORT}
      POSTGRESQL_USERNAME: ${POSTGRESQL_USERNAME}
      POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRESQL_DATABASE: ${POSTGRESQL_DATABASE}
      POSTGRESQL_SCHEMA: ${POSTGRESQL_SCHEMA}
      # Redis
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      # Minio
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_EXPORT_URL: ${MINIO_EXPORT_URL}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_BUCKET: ${MINIO_BUCKET_NAME}
      # OpenAI
      OPENAI_BASE_URL: ${OPENAI_BASE_URL}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_CHAT_MODEL: ${OPENAI_CHAT_MODEL}
      OPENAI_EMBEDDING_MODEL: ${OPENAI_EMBEDDING_MODEL}
      # Weaviate
      WEAVIATE_HOST: ${WEAVIATE_HOST}
      WEAVIATE_PORT: ${WEAVIATE_PORT}
      WEAVIATE_API_KEY: ${WEAVIATE_API_KEY}
    networks:
      - dezhi

networks:
  dezhi:
    driver: bridge

